#header {
	@include clearfix();
    background: $header-bg; position: relative; z-index: 800;
    color: $header-text-color; height: $header-height;
	body.dark & { background: $header-bg-dark; }
    a {
        color: $header-link-color; text-decoration: none; transition: $t;
        &:hover { color: $header-link-hover-color; }
    }
    .container { position: relative; }
    .logo {
        /*@include text-hide;*/
        font-size: 2.5rem; color: $gray-400; font-weight: bold; line-height: $header-height;
        height: $header-height; width: $logo-width; display: block;
        /*background: $logo-bg;*/
		/*body.ltr & { background-image: $logo-img-en; }*/
    }

    .h-item {
        height: $header-height; min-width: $header-height; text-align: center; line-height: $header-height;
        float: right;
    }
    .menu-toggle {
        background: transparent; color: $header-text-color; font-size: 24px; border: 0 none; box-shadow: none;
        border-left: 2px solid $body-bg; padding: 0; cursor: pointer; transition: 0.2s all;
        &:hover { color: $header-link-hover-color; }
    }
    .tools {
        float: left; list-style: none; padding: 0; margin: 0; line-height: $header-height;
        li {
            border-right: 2px solid $body-bg; display: inline-block;
            > a {
				display: block; min-width: $header-height; text-align: center; padding: 0 $grid-gutter-width / 2;
            }
        }
    }

	.box {
		margin: 0;
		&.ads {
			ul li {
				padding-top: 4px; border: 0 none; line-height: 1.5; text-align: center;
				figure { margin-bottom: 0; max-height: 60px; overflow: hidden; }
			}
		}
	}

	button[data-toggle] {
		height: 40px; width: 40px; padding: 0; text-align: center;
		color: $accent; font-size: 1.5rem; background: transparent; line-height: 40px;
        position: absolute; top: 50%; left: 0; transform: translateY(-50%);
        & ~ button { margin-left: 50px; }
	}
}
#masthead {
	background: $masthead-bg; height: $masthead-height; color: $masthead-text-color;
	body.dark & { background: $masthead-bg-dark; }
	.tools-menu {
		margin: 0; padding: 0; list-style: none; flex-direction: row; display: flex; justify-content: flex-end;
		li {
			display: inline-block; line-height: $masthead-height; padding-right: $grid-gutter-width; font-size: .7rem;
			transition: $transition-default;
			a {
				color: $gray-100;
				i { color: #ccc; display: inline-block; font-size: .9rem; transition: $transition-default; }
			}
			&:hover {
				a, a i { color: #fff; }
			}
		}
	}
}

.lang-switcher {
    display: none;
    
/*	border: 0 none; border-radius: 0; height: $masthead-height; max-width: 130px; line-height: $masthead-height; cursor: pointer; display: inline-block; 
	color: $gray-400; padding: 0 1rem 0 0.75rem; vertical-align: middle; -ms-appearance: none; -webkit-appearance: none; appearance: none; -moz-appearance: none; width: 100%;
	background: $masthead-bg url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'><path fill='#ffffff' d='M2 0L0 2h4zm0 5L0 3h4z'/></svg>") no-repeat scroll right 0 center; background-size: 9px 9px; outline: 0 none;
	@-moz-document url-prefix() { // Firefox hack
		padding-right: 0;
	}
	body.dark & { background-color: $masthead-bg-dark; }
	body.ltr & { padding: 0 0.75rem 0 1rem; background-position: left 0 center; max-width: 140px; }
	option {
		cursor: pointer;
		&[disabled] { display: none; }
	}*/
}
.date {
	display: inline-block; font-size: 0.7rem; color: $gray-400;
	@include media-breakpoint-down(sm) {
		float: left; line-height: $masthead-height;
		body.ltr & { float: right; }
	} // XS
}

#header-ad {
	.box { margin: $grid-gutter-width / 2 0; }
}