
@font-face {
  font-family: 'IRIBTehranRegular';
  src: url('IRIBTehranRegular.eot?#iefix') format('embedded-opentype'),  url('IRIBTehranRegular.woff') format('woff'), url('IRIBTehranRegular.ttf')  format('truetype'), url('IRIBTehranRegular.svg#IRIBTehranRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
