@charset "utf-8";
/* CSS Document Joomla  Farsi Team JoomlaFarsi.com*/

body, td, th  {
	font-family:Tahoma, Geneva, sans-serif;	
}
input, select {
	font-family:Tahoma, Geneva, sans-serif;	
}
button {
	font-family:Tahoma, Geneva, sans-serif;	
}