#header {
    height: @header-height; overflow-y: hidden; overflow-x: visible;
    /*.wrapper { overflow: visible; }*/
    .menu {
        font-family: @menu-font-family; font-size: 0; float: right; height: @header-height; font-weight: bold;
        li {
            padding: 0; font-size: @menu-font-size;
            a {
                display: block; color: white; line-height: @header-height; padding: 0 25px;
                &:hover { color: @yellow-dark; }
            }
        }
    }
    .header-anchors {
        height: @header-height; font-size: 0; text-align: left; float: left;
        li {
            font-family: @headings-font-family; text-align: center; width: @search-toggle-width; border-right: 1px solid @gray-dark; padding: 0;
            a {
                color: white; display: block; font-size: 24px; line-height: 30px; padding: 20px 0;
                span { color: @yellow-dark; font-size: @font-size-base; display: block; line-height: 30px; }
                &:hover {
                    background: @yellow;
                    span { color: black; }
                }
            }
        }
    }
    .search {
        width: @search-toggle-width; height: @header-height; float: left;
        .search-toggle {
            display: block; width: 100%; height: 100%; color: @gray-lighter; font-size: 36px; line-height: @header-height; text-align: center; border-right: 1px solid @gray-dark;
            &:hover { background: @yellow; color: black; }
        }
        &.active {
            .search-toggle { background: @yellow; color: white; }
        }
    }
}
.logo {
    width: @logo-width; height: @header-height; background: @gray-darker; float: right;
    a { display: block; width: 100%; height: 100%; overflow: hidden; line-height: 999999px; background: url(../img/logo.png) no-repeat center center transparent; }
}
.header-schedule {
    width: 100px; float: right; background: @yellow; color: black; height: @header-height; position: relative; z-index: 10; text-align: center;
    &:after { background: @yellow; display: block; content: ''; position: absolute; left: 100px; top: 0; height: @header-height; width: 1000px; z-index: 1; }
    .schedule-toggle {
        color: black; display: block; font-size: @font-size-base + 4; line-height: 1.5; padding: 30px 0 13px; color: black;
        span { color: black; font-size: @font-size-base; display: block; line-height: 30px; }
    }
}
.page-header {
    margin: 0; padding: 0; border: 0 none; background: black; height: 80px;
    h1 {
        margin: 0; padding: 0; border: 0 none; color: @yellow-light; line-height: 80px; font-size: 30px; font-weight: bold;
    }
}