article.item {
    width: 900px; margin: @grid-gutter-width auto 0;
    .item-header {
        margin-bottom: (@grid-gutter-width * 2);
        h2 { font-size: 36px; text-align: center; margin-bottom: 0; }
    }
    .item-body {
        font-size: 16px;
        .item-gallery {
            width: 500px; float: left; margin-right: (@grid-gutter-width);
            .img { width: 500px; margin-right: 0; float: none; margin: 0; }
        }
        .img {
            width: 50%; float: left; position: relative; margin-bottom: (@grid-gutter-width / 2); margin-right: (@grid-gutter-width);
            & > span {
                display: block; position: absolute; bottom: 24px; left: 0; padding: (@grid-gutter-width / 3); color: #fff; text-shadow: 0 0 3px #333; font-family: Tahoma, Arial; font-size: 12px; font-weight: bold;
                &.image-credits { bottom: 0; font-weight: normal; }
            }
            &.has-video {
                position: relative; cursor: pointer;
                &:after { display: block; content: '\e80a'; position: absolute; left: 50%; top: 50%; width: 48px; height: 48px; text-align: center; line-height: 48px; font-family: 'tourism'; margin: -24px 0 0 -24px; font-size: 48px; opacity: 1; text-shadow: 0 0 7px #333; z-index: 240; color: #fff; }
            }
        }
        .item-fulltext {
            font-size: 17px; margin-bottom: @grid-gutter-width;
        }
        #item-media { margin-bottom: (@grid-gutter-width / 2); }
    }
/*    .showing {
        
    }*/
}
.category-items {
    width: 900px; margin: @grid-gutter-width auto 0; margin-bottom: @grid-gutter-width;
    .itemlist {
        ul {
            li {
                padding: (@grid-gutter-width / 2) 0;
                .item-header {
                    h3 {
                        margin-top: 0;
                        a {
                            color: @green; transition: 0.2s all;
                            &:hover {
                                text-decoration: none; color: @darkGreen;
                            }
                        }
                    }
                }
                .item-body {
                    .item-img {
                        float: left; width: 33.33333%;
                        & > a {
                            display: block; width: 100%;
                            img { display: block; width: 100%; height: auto; }
                        }
                    }
                    .item-text {
                        margin-left: 33.33333%; padding-left: (@grid-gutter-width);
                    }
                }
            }
        }
    }
}