@success: #5CB85C;
@green: #00aeb9;
@darkGreen: #098c94;
@darGray: #363636;
@gray: #969696;
@menuColor: #444444;
// Font family
@fontFamily: 'B Yekan', 'Yekan', 'W_Yekan', 'WYekan', 'BYekan', Arial, Tahoma;
// Sizes
@carousel-height: 200px;

@yellow-main: #FCEA03;
/*@yellow-dark: #ffcb05;*/
@yellow-dark: @yellow-main;
@yellow-match-gray: #9d9fa2;
@yellow-match-gray-dark: #414042;