.box {
	&.photoGall {
        & > div {
			ul {
				margin: 0 -($grid-gutter-width / 2);
				li {
					width: 25%; float: right; padding: ($grid-gutter-width / 2);
					body.ltr & { float: left; }
					&:nth-child(4n+1) {
						clear: right;
						body.ltr & { clear: left; }
					}
					@include media-breakpoint-down(sm) { 
						width: 50%;
						&:nth-child(2n+1) {
							clear: right;
							body.ltr & { clear: left; }
						}
					} // XS
					&.large-item {
						width: 100% !important; height: auto !important;
						a {
							img { min-height: 0 !important; }
						}
					}
				}
			}
            a {
				display: block; text-align: center; overflow: hidden; background: #232323;
                img {
					display: block; width: auto; max-width: 100%; min-height: 100%; max-height: 100%; left: 50%; transform: translateX(-50%) translateY(-50%);
					////
				}
            }
        }
    }
	&.gallery {
		&.desc-overlay {
			> div ul li {
				position: relative;
				.desc {
					width: 33.3333%; position: absolute; top: 0; left: 0; background: fade-out($primary, 0.3);
					h3 { font-size: 1.7rem; }
					p { color: $gray-300; }
					@include media-breakpoint-down(md) {
						width: 44%;
						h3 { font-size: 1.3rem; }
						p { display: none; }
					} // SM
				}
			}
		}
	}
}