.icon-48-scheduless {
      background-image: url(../images/l_scheduless.png);
      padding-left:60px!important;
}

.icon-48-schedules {
      background-image: url(../images/l_scheduless.png);
      padding-left:60px!important;
}

