[class*="col-"] { float: right; direction: rtl; text-align: right; }
html, body {
    max-width: 100vw; overflow-x: hidden;
    &.no-scroll { overflow-y: hidden; }
}

.wrapper {
    max-width: 100vw;
    &.purple { background: @purple; }
    &.purple-light { background: @purple-light; }
    &.yellow { background: @yellow; }
    &.white { background: white; }
    &.gray-lightest { background: #efefef; }
    &.gray-lighter { background: @gray-lighter; }
    &.gray-light { background: @gray-light; }
    &.gray { background: @gray; }
    &.gray-dark { background: @gray-dark; }
    &.gray-darker { background: @gray-darker; }
    &.gray-darkest { background: @gray-darkest; }
}
.header-products {
    .page-header {
        height: 200px; background: url('../img/header_products.png') no-repeat center top @yellow;
        h1 { line-height: 200px; color: black; }
    }
    .page-tools {
        top: -124px;
        .order-style {
            color: @gray-darkest;
            li {
                &:hover span, &.active span { color: @gray-light;  }
            }
        }
    }
}

#showcase .wrapper { background: @gray-darkest }
#mainbody {
    & > .wrapper {  }
}
.full-height { height: 100%; }