@font-face{
	font-family: 'Mitra';
	src: url(../../global/font/BMitra.eot);
	src: url(../../global/font/BMitra.eot?#iefix) format('embedded-opentype'),
		url(../../global/font/BMitra.woff) format('woff'),
		url(../../global/font/BMitra.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
