@font-face {
    font-family: "RTNassim";
    src: url("../../global/font/rosettatype-nassim-regular.eot") format('eot'),
        url("../../global/font/rosettatype-nassim-regular.woff") format("woff"),
        url("../../global/font/rosettatype-nassim-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "RTNassim";
    src: url("../../global/font/rosettatype-nassim-bold.eot") format('eot'),
        url("../../global/font/rosettatype-nassim-bold.woff") format("woff"),
        url("../../global/font/rosettatype-nassim-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}