@font-face {
	font-family: 'SGKara';
	src: url('../../assets/font/sg-kara/SGKara-Regular.eot?95570995');
	src: url('../../assets/font/sg-kara/SGKara-Regular.eot?95570995#iefix') format('embedded-opentype'),
		url('../../assets/font/sg-kara/SGKara-Regular.woff2?95570995') format('woff2'),
		url('../../assets/font/sg-kara/SGKara-Regular.woff?95570995') format('woff'),
		url('../../assets/font/sg-kara/SGKara-Regular.ttf?95570995') format('truetype'),
		url('../../assets/font/sg-kara/SGKara-Regular.svg?95570995#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}