@font-face {
	font-family: 'Vazir';
	src: url('../../assets/font/vazir/vazir-v16.0.1/Vazir.eot?95570995');
	src: url('../../assets/font/vazir/vazir-v16.0.1/Vazir.eot?95570995#iefix') format('embedded-opentype'),
		url('../../assets/font/vazir/vazir-v16.0.1/Vazir.woff2?95570995') format('woff2'),
		url('../../assets/font/vazir/vazir-v16.0.1/Vazir.woff?95570995') format('woff'),
		url('../../assets/font/vazir/vazir-v16.0.1/Vazir.ttf?95570995') format('truetype'),
		url('../../assets/font/vazir/vazir-v16.0.1/Vazir.svg?95570995#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Vazir';
	src: url('../../assets/font/vazir/vazir-v16.0.1/Vazir-Medium.eot?95570995');
	src: url('../../assets/font/vazir/vazir-v16.0.1/Vazir-Medium.eot?95570995#iefix') format('embedded-opentype'),
		url('../../assets/font/vazir/vazir-v16.0.1/Vazir-Medium.woff2?95570995') format('woff2'),
		url('../../assets/font/vazir/vazir-v16.0.1/Vazir-Medium.woff?95570995') format('woff'),
		url('../../assets/font/vazir/vazir-v16.0.1/Vazir-Medium.ttf?95570995') format('truetype'),
		url('../../assets/font/vazir/vazir-v16.0.1/Vazir-Medium.svg?95570995#icons') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Vazir';
	src: url('../../assets/font/vazir/vazir-v16.0.1/Vazir-Bold.eot?95570995');
	src: url('../../assets/font/vazir/vazir-v16.0.1/Vazir-Bold.eot?95570995#iefix') format('embedded-opentype'),
		url('../../assets/font/vazir/vazir-v16.0.1/Vazir-Bold.woff2?95570995') format('woff2'),
		url('../../assets/font/vazir/vazir-v16.0.1/Vazir-Bold.woff?95570995') format('woff'),
		url('../../assets/font/vazir/vazir-v16.0.1/Vazir-Bold.ttf?95570995') format('truetype'),
		url('../../assets/font/vazir/vazir-v16.0.1/Vazir-Bold.svg?95570995#icons') format('svg');
	font-weight: bold;
	font-style: normal;
}